{% extends 'speeches/base.html' %}
{% load staticfiles %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}

<h1>{{ object.name }}</h1>

<div class="page-content__row">

  {% comment %}
    FIXME - We should be using memberships.current here,
    but currently no membership is current.
  {% endcomment %}

<div class="small-12 medium-8 columns">
  <h2>Members</h2>
  <ul class="speaker-list-list">
    {% for member in members %}
      <li>
        <a href="{{ member.get_absolute_url }}">
          <div class="speaker-card-list">
            <img src="{% if member.image %}
        {{ member.image }} {% else %} {% static "speeches/i/a.png" %} {% endif %}"
        style="border-color: #{{ member.colour }}; background-color: #{{ member.colour }};" alt=""  class="speaker-card-list__portrait speaker-portrait round-image speaker-portrait--small">
            <span class="speaker-card__name">{{ member.name }}</span>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

<div class="small-12 medium-4 columns">
  <h2>Meetings</h2>
  <ul class="unstyled-list">
    {% for meeting in section.get_children %}
      <li>
          <a href="{{ meeting.get_absolute_url }}">{{ meeting.title }}</a>
      </li>
    {% empty %}
      <li>No meetings found.</li>
    {% endfor %}
  </ul>
</div>

</div>

{% endblock %}
