{% extends 'speeches/base.html' %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}

<h1>{{ object.name }}</h1>

<div class="page-content__row">

  {% comment %}
    FIXME - We should be using memberships.current here,
    but currently no membership is current.
  {% endcomment %}

<div class="small-12 medium-6 columns">
  <h2>Members</h2>
  <ul>
    {% for member in members %}
      <li><a href="{{ member.get_absolute_url }}">{{ member.name }}</a>
    {% endfor %}
  </ul>
</div>

<div class="small-12 medium-6 columns">
  <h2>Meetings</h2>
  <ul>
    {% for meeting in section.get_children %}
      <li>
          <a href="{{ meeting.get_absolute_url }}">{{ meeting.title }}</a>
      </li>
    {% empty %}
      <li>No meetings found.</li>
    {% endfor %}
  </ul>
</div>

</div>

{% endblock %}
